
/* Button used to open the contact form - fixed at the bottom of the page */
/*
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  */
  /* The popup form - hidden by default */
  .loginForm {
    width:300px;
    height:420px;
    padding: 20px;
    margin-left: -150px;
    margin-top: -200px;
    border: 3px solid #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  /* Add styles to the form container */
  .loginform-container {
    /*max-width: 300px;*/
    padding: 10px;
  }
  
  /* Full-width input fields */
  .loginform-container input[type=text], .loginform-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .loginform-container input[type=text]:focus, .loginform-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .loginform-container .btn {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .loginform-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .loginform-container .btn:hover, .open-button:hover {
    opacity: 1;
  }