table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  td {
    border: 3px solid black;
    width: 40%;
    height: 50px;
    text-align: center;
    vertical-align: center;
  }
  
  .leftborder {
    border-top: 0;
    border-left: 10;
    border-bottom: 0;
    border-right: 0;
  }
  .rightborder {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 10;
  }
  
  .mainbutton {
    width: 200px;
  }
  
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
  
/*the dropdown part*/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    z-index: 100;
    transition: 0.3s;
    opacity: 90%;
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    opacity: 90%;
    float: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}