.autocomplete-dropdown-container {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}

.suggestion-item {
    padding: .375rem .75rem;
    background-color: #fff;
}

.suggestion-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.suggestion-name span {
    font-size: 10px;
}